.nav__container {
  display: flex;
  flex-direction: column;
}

.nav__container .nav__container__link {
  /* margin-bottom: 40px; */
  font-size: 28px;
  background-color: #e9618a;
  text-decoration: none;
  color: #ececec;
}

.nav__container .nav__container__link:hover {
  background-color: #444444;
}