.nav__container{
  display: grid;
  row-gap: 30px;
}

a{
  text-decoration: none;
  color: #302f35;
  font-size: 28px;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}